.sidebar {
  position: absolute;
  width: 53px;
  overflow: hidden;
  height: 100vh;
  top: 0;
  background-color: #303030;
  transition: width 0.2s linear;

  &:hover {
    width: 250px;

    header {
      span {
        opacity: 1;
        width: auto;
      }
    }

    .sidebar__main {
      li {
        a {
          span {
            width: auto;
            opacity: 1;
          }
        }
      }
    }
  }

  header {
    display: flex;
    width: 100%;
    height: 60px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

    span {
      opacity: 0;
      width: 0;
      transition: opacity 0.2s ease-in-out, width 0.3s ease-in-out;
    }
  }

  .sidebar__main {
    list-style: none;
    padding: 20px 0;
    margin: 0;

    li {
      position: relative;
      display: block;
      width: 250px;

      a {
        display: flex;
        align-items: center;
        padding: 5px 10px;
        text-decoration: none;
        outline: none;
        height: 48px;
        color: rgba(255, 255, 255, 0.65);
        text-transform: uppercase;
        line-height: normal;

        i {
          padding: 0 5px;
        }

        span {
          opacity: 0;
          transition: opacity 0.2s ease-in-out;
        }

        &:focus {
          outline: none;
        }

        &:hover {
          background: rgba(255, 255, 255, 0.04);
          color: #ffffff;
        }
      }

      a.active {
        color: #e91e63;
      }
    }
  }
}
