<aside class="sidebar">
  <header>ADM <span>IN</span> </header>
  <ul class="sidebar__main">
    <li>
      <a [routerLink]="['/home']" routerLinkActive="active">
        <i class="material-icons">home</i>
        <span>Home</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/apiendpoint']" routerLinkActive="active">
        <i class="material-icons">api</i>
        <span>Api endpoint</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="material-icons">miscellaneous_services</i>
        <span>Service endpoint</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="material-icons">rule</i>
        <span>Pipelines</span>
      </a>
    </li>
  </ul>
</aside>
